@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<html>

    <head>
        <title>Register</title>
    </head>
<body style="width:100%;  margin:0;">
    <div>

        <form action="/validator/Handler">
            <label for="name">Enter Your Name</label>
            <br />
            <input type="text" name="name"/>
            <br />
            <label for="email">Enter Email Address</label>
            <br />
            <input type="text" name="email"/>
            <br />
            <label for="phone">Enter Your Phone Number</label>
            <br />
            <input type="text" name="phone"/>
            <br />
            <label for="phone">Will Attend</label>
            <br />
            <input type="checkbox" name="willattend" />
            <input type="submit" value="Register" />
        </form>

        </div>
    </body>
</html>
